.ctaSection {
  text-align: center;
  background-color: #4318d1;
  padding: 95px 52px;
}

@media (width <= 640px) {
  .ctaSection {
    padding: 60px 20px;
  }
}

.title {
  color: #fff;
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: 700;
}

@media (width <= 640px) {
  .title {
    font-size: 32px;
  }
}

.description {
  color: #ffffffe6;
  max-width: 576px;
  margin: 0 auto 29px;
  font-size: 20px;
  line-height: 30px;
}

.ctaButton {
  color: #4318d1;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.ctaButton:hover {
  background-color: #f8f8f8;
}

.ctaButton:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
